
body{
    background: #041D37;
    margin: 0;
    padding: 0;
    border-top: solid 10px #063852;
    font-family: 'Righteous', cursive;
}
.container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 2fr 3fr 0.5fr;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0; 
}
.tutorial{
    grid-column: 4 / 10;
    grid-row: 1 / 2;
    font-size: 18px;
    z-index: 1;
    background: rgb(204, 204, 204);
    text-align: center;
    border-right: solid 8px #063852;
    border-left: solid 8px #063852;
    animation: tutor 4s;
    -moz-animation: tutor 4s;
    -o-animation: tutor 4s;
    -webkit-animation: tutor 4s;
}
@keyframes tutor{
    from{opacity: 0.2;}
    to{opacity: 1;}
}
@-moz-keyframes tutor{
    from{opacity: 0.2;}
    to{opacity: 1;}
}
@-o-keyframes tutor{
    from{opacity: 0.2;}
    to{opacity: 1;}
}
@-webkit-keyframes tutor{
    from{opacity: 0.2;}
    to{opacity: 1;}
}
.leftSide{
    grid-column: 3 / 7;
    grid-row: 1 / 3;
    border-bottom-left-radius: 50px;
    background: #f0810f;   
    display: grid;
    grid-template-rows: 1fr 5fr 3fr;
    align-items: center;
    justify-content: center;
    opacity: 0.3;
}
.leftSideGray{
    background: rgb(128, 128, 128);
}
.rightSide{
    grid-column:  7 / 11;
    grid-row: 1 / 3;
    border-bottom-right-radius: 50px;
    background: #e6d72e; 
    display: grid;
    grid-template-rows: 1fr 3fr 1fr 3fr 1fr;
    justify-content: center;
    align-items: center;
    opacity: 0.3;

}
.sideOpacity{
    opacity: 1;

}
.rightSideGray{
    background: rgb(163.66, 163.66, 163.66);
}
.image{
    grid-row: 2 / 3;
    width: 300px;
    height: 330px;
}
.hangman{
    width: 100%;
    height: 100%;
}
.title{
    grid-row: 3 / 4;
    text-align: center;
    margin: 0;
    font-size: 90px;
    color: #6fccb5;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.75);
    letter-spacing: -2px;
    margin-top: -10%;
}
.titleGray{
    color: rgb(165.33, 165.33, 165.33);
}
.hint{
    grid-row: 2 / 3;
    background: #6fccb5;
    width: 350px;
    height: 100px;
    border-radius: 40px;
    border-right: solid rgba(31, 31, 31, 0.7) 2px;
    border-bottom: solid rgba(31, 31, 31, 0.7) 2px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: #063852;
    margin-top: -20%;
}
.hintGray{
    background: rgb(165.33, 165.33, 165.33);
}
.main{
    grid-row: 3 / 4;
    display: flex;
    margin-top: -20%;
}
.cell{
    width: 25px;
    height: 25px;
    border-radius: 5px;
    margin-right: 3px;
    border-right: solid rgba(31, 31, 31, 0.7) 2px;
    border-bottom: solid rgba(31, 31, 31, 0.7) 2px;  
    background: white;
    color: black;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;      
    float: left;
}
.cellGray{
    background: gray;
}
.next{
    grid-column: 1 / 6;
    grid-row: 3 / 4;
    text-decoration: none;
    color: #f0810f;
    background: #011a27;
    border-radius: 5px;
    width: 60px;
    height: 20px;
    text-align: center;
    font-size: 18px;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}   
.start{
    grid-column: 19 / 21;
    grid-row: 2 / 4;
    text-decoration: none;
    color: #f0810f;
    background: #011a27;
    border-radius: 5px;
    width: 20px;
    height: 60px;
    text-align: center;
    font-weight: bold;
    padding: 6px;  
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.keyboard{
    grid-row: 4 / 5;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-content: center;   
    margin-top: -20%; 
}   
.keyboard > div{
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    padding: 6px;
    background: #011a27;
    font-weight: bold;
    width: 20px;
    height: 20px;
    color: #f0810f;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnGray{
    background: rgb(22, 22, 22);
}
.btnBorder{
    border-right: solid rgb(61, 61, 61) 2px;
    border-bottom: solid rgb(61, 61, 61) 2px;    
}
.keyboard >div:hover{   
    cursor: pointer;
}
.next:hover{
    cursor: pointer;
}
.start:hover{
    cursor: pointer;
}

.btnClicked{
    border-right: none;
    border-bottom: none;
    border-top: solid #e6d72e 2px;
    border-left: solid #e6d72e 2px;
}
.q{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}
.w{
    grid-column: 3 / 5;
    grid-row: 1 / 2;
}
.e{
    grid-column: 5 / 7;
    grid-row: 1 / 2;
}
.r{
    grid-column: 7 / 9;
    grid-row: 1 / 2;
}
.t{
    grid-column: 9 / 11;
    grid-row: 1 / 2;
}

.y{
    grid-column: 11 / 13;
    grid-row: 1 / 2;
}
.u{
    grid-column: 13 / 15;
    grid-row: 1 / 2;
}
.i{
    grid-column: 15 / 17;
    grid-row: 1 / 2;
}
.o{
    grid-column: 17 / 19;
    grid-row: 1 / 2;
}
.p{
    grid-column: 19 / 21;
    grid-row: 1 / 2;
}
.a{
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}
.s{
    grid-column: 3 / 5;
    grid-row: 2 / 3;
}
.d{
    grid-column: 5 / 7;
    grid-row: 2 / 3;
}
.f{
    grid-column: 7 / 9;
    grid-row: 2 / 3;
}
.g{
    grid-column: 9 / 11;
    grid-row: 2 / 3;
}
.h{
    grid-column: 11 / 13;
    grid-row: 2 / 3;
}
.j{
    grid-column: 13 / 15;
    grid-row: 2 / 3;
}
.k{
    grid-column: 15 / 17;
    grid-row: 2 / 3;
}
.l{
    grid-column: 17 / 19;
    grid-row: 2 / 3;
}
.z{
    grid-column: 5 / 7;
    grid-row: 3 / 4;
}
.x{
    grid-column: 7 / 9;
    grid-row: 3 / 4;
}
.c{
    grid-column: 9 / 11;
    grid-row: 3 / 4;
}
.v{
    grid-column: 11 / 13;
    grid-row: 3 / 4;
}
.b{
    grid-column: 13 / 15;
    grid-row: 3 / 4;
}
.n{
    grid-column: 15 / 17;
    grid-row: 3 / 4;
}
.m{
    grid-column: 17 / 19;
    grid-row: 3 / 4;
}
.score{
    grid-row: 5 / 6;
    color: 	#f0810f;
    font-size: 26px;
    background: #e6d72e;
    border-radius: 10px;
    width: 80px;
    height: 40px;
    text-align: center;
    font-weight: bold;
    border-right: solid rgba(31, 31, 31, 0.7) 3px;
    border-bottom: solid rgba(31, 31, 31, 0.7) 3px;
    border-top: solid rgba(31, 31, 31, 0.7) 2px;
    border-left: solid rgba(31, 31, 31, 0.7) 2px;
    box-sizing: border-box;
    margin-top: -30%;
}
.rightSide > *{
    justify-self: center;
}

.space{
    width: 25px;
    height: 25px;
    border-radius: 5px;
    margin-right: 3px;
    float: left;
    color: #e6d72e
}
footer{
    background: #041D37;
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    opacity: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 0;

    color: #e6d72e;
}
footer p{
    margin-top: -1px;
}

.developer a{
    text-decoration: none;
    color: #e6d72e;
}
.designer a{
    text-decoration: none;
    color: #e6d72e;

}
.developer a:hover{
    color: white;
}
.designer a:hover{
    color: white;
}
.titleTutorial{
    font-size: 22px;
    color: #063852;
    font-weight: bold;
}
.instrTitle{
    font-size: 20px;
    background: #6fccb5;
    
}
.instr{
    background: #e6d72e;
    font-weight: bold;
}
.startPlaying{
    font-size: 20px;
    color: #063852;
    font-weight: bold;
}
.startPlaying:hover{
    color: #f0810f;
    cursor: pointer;
}
@media screen and (max-width: 1180px){
    .title{
        font-size: 85px;
    }
    .hint{
        width: 325px;
        height: 85px;
        font-size: 20px;
        border-radius: 30px;
    }
    .keyboard{
        grid-gap: 2px;
        grid-template-columns: repeat(20, 1fr);
        grid-template-rows: repeat(3, 1fr);  
    }
    .keyboard > div{
        border-radius: 4px;
        padding: 5px;
        width: 19px;
        height: 19px;
    }
    .btnBorder{
        border-right: solid rgb(61, 61, 61) 2px;
        border-bottom: solid rgb(61, 61, 61) 2px;    
    }
    .btnClicked{
        border-right: none;
        border-bottom: none;
        border-top: solid #e6d72e 2px;
        border-left: solid #e6d72e 2px;
    }
    .next{
        border-radius: 4px;
        width: 52px;
        height: 17px;
        font-size: 17px;
        padding: 6px;
    }
    .start{
        border-radius: 4px;
        width: 17px;
        height: 50px;
        text-align: center;
        padding: 6px;  
    }
    .image{
        grid-row: 2 / 3;
        width: 300px;
        height: 330px;
    }
    .hangman{
        width: 100%;
        height: 100%;
    }
    .score{
        font-size: 24px;
        border-radius: 8px;
        width: 75px;
        height: 35px;
        border-right: solid rgba(31, 31, 31, 0.7) 3px;
        border-bottom: solid rgba(31, 31, 31, 0.7) 3px;
        border-top: solid rgba(31, 31, 31, 0.7) 2px;
        border-left: solid rgba(31, 31, 31, 0.7) 2px;   
    }
    
}

@media screen and (max-width: 1050px){
    .title{
        font-size: 75px;
    }
    .hint{
        width: 290px;
        height: 80px;
        font-size: 20px;
        border-radius: 25px;
    }
    .keyboard{
        grid-gap: 2px;
        grid-template-columns: repeat(20, 1fr);
        grid-template-rows: repeat(3, 1fr);  
    }
    .keyboard > div{
        border-radius: 3px;
        padding: 5px;
        width: 16px;
        height: 16px;
    }
    .btnBorder{
        border-right: solid rgb(61, 61, 61) 1px;
        border-bottom: solid rgb(61, 61, 61) 1px;    
    }
    .btnClicked{
        border-right: none;
        border-bottom: none;
        border-top: solid #e6d72e 1px;
        border-left: solid #e6d72e 1px;
    }
    .next{
        border-radius: 3px;
        width: 46px;
        height: 14px;
        font-size: 17px;
        padding: 6px;
    }
    .start{
        border-radius: 3px;
        width: 14px;
        height: 45px;
        text-align: center;
        padding: 6px;  
    }
    .image{
        grid-row: 2 / 3;
        width: 290px;
        height: 319px;
    }
    .hangman{
        width: 100%;
        height: 100%;
    }
    .score{
        font-size: 22px;
        border-radius: 7px;
        width: 70px;
        height: 35px;
        border-right: solid rgba(31, 31, 31, 0.7) 3px;
        border-bottom: solid rgba(31, 31, 31, 0.7) 3px;
        border-top: solid rgba(31, 31, 31, 0.7) 2px;
        border-left: solid rgba(31, 31, 31, 0.7) 2px;   
    }
    .cell{
        width: 22px;
        height: 22px;
        border-radius: 5px;
        margin-right: 2px;
        font-size: 16px;
    }
   
}

@media screen and (max-width: 900px){
    .title{
        font-size: 60px;
    }
    .hint{
        width: 220px;
        height: 70px;
        font-size: 18px;
        border-radius: 20px;
    }
    .keyboard{
        grid-gap: 2px;
        grid-template-columns: repeat(20, 1fr);
        grid-template-rows: repeat(3, 1fr);  
    }
    .keyboard > div{
        border-radius: 3px;
        padding: 5px;
        width: 13px;
        height: 13px;
        font-size: 15px;
    }
    .btnBorder{
        border-right: solid rgb(61, 61, 61) 1px;
        border-bottom: solid rgb(61, 61, 61) 1px;    
    }
    .btnClicked{
        border-right: none;
        border-bottom: none;
        border-top: solid #e6d72e 1px;
        border-left: solid #e6d72e 1px;
    }
    .next{
        border-radius: 3px;
        width: 39px;
        height: 13px;
        font-size: 17px;
        padding: 5px;
    }
    .start{
        border-radius: 3px;
        width: 13px;
        height: 40px;
        text-align: center;
        padding: 5px;  
    }
    .image{
        grid-row: 2 / 3;
        width: 275px;
        height: 302px;
    }
    .hangman{
        width: 100%;
        height: 100%;
    }
    .score{
        font-size: 20px;
        border-radius: 6px;
        width: 65px;
        height: 28px;
        border-right: solid rgba(31, 31, 31, 0.7) 2px;
        border-bottom: solid rgba(31, 31, 31, 0.7) 2px;
        border-top: solid rgba(31, 31, 31, 0.7) 1px;
        border-left: solid rgba(31, 31, 31, 0.7) 1px;   
    }
    .cell{
        width: 20px;
        height: 20px;
        border-radius: 4px;
        margin-right: 2px;
        font-size: 14px;
    }
    

}
@media screen and (max-width: 850px){
    .leftSide{
        grid-column: 2 / 7;
    }
    .rightSide{
        grid-column:  7 / 12;
    }
    .image{
        grid-row: 2 / 3;
        width: 260px;
        height: 286px;
    }
    .hangman{
        width: 100%;
        height: 100%;
    }
}
@media screen and (max-width: 720px){
    .container{
        display: grid;
        grid-template-columns: repeat(14, 1fr);
        width: 100%;
    }
    .leftSide{
        grid-column: 2 / 8;
    }
    .rightSide{
        grid-column:  8 / 14;
    }
}
@media screen and (max-width: 630px){
    .container{
        display: grid;
        grid-template-columns: repeat(16, 1fr);
        width: 100%;
    }
    .leftSide{
        grid-column: 2 / 9;
    }
    .rightSide{
        grid-column:  9 / 16;
    }
    .title{
        font-size: 55px;
    }
    .keyboard{
        grid-gap: 1px;
        grid-template-columns: repeat(20, 1fr);
        grid-template-rows: repeat(3, 1fr);  
    }
    .keyboard > div{
        border-radius: 3px;
        padding: 5px;
        width: 10px;
        height: 10px;
        font-size: 12px;
    }
   .next{
        border-radius: 3px;
        width: 34px;
        height: 10px;
        font-size: 15px;
        padding: 5px;
    }
    .start{
        border-radius: 3px;
        width: 11px;
        height: 33px;
        padding: 5px; 
    }
    .score{
        font-size: 18px;
        border-radius: 6px;
        width: 60px;
        height: 26px;
        border-right: solid rgba(31, 31, 31, 0.7) 2px;
        border-bottom: solid rgba(31, 31, 31, 0.7) 2px;
        border-top: solid rgba(31, 31, 31, 0.7) 1px;
        border-left: solid rgba(31, 31, 31, 0.7) 1px;   
    } 
    .cell{
        width: 18px;
        height: 18px;
        border-radius: 3px;
        margin-right: 1px;
        font-size: 14px;
    }
    .image{
        grid-row: 2 / 3;
        width: 240px;
        height: 264px;
    }
    .hangman{
        width: 100%;
        height: 100%;
    }
}
@media screen and (max-width: 550px){
    
    .title{
        font-size: 50px;
    }
    .keyboard{
        grid-gap: 1px;
        grid-template-columns: repeat(20, 1fr);
        grid-template-rows: repeat(3, 1fr);  
    }
    .keyboard > div{
        border-radius: 2px;
        padding: 5px;
        width: 8px;
        height: 8px;
        font-size: 11px;
    }
   .next{
        border-radius: 2px;
        width: 29px;
        height: 8px;
        font-size: 15px;
        padding: 5px;
    }
    .start{
        border-radius: 2px;
        width: 8px;
        height: 30px;
        padding: 5px; 
    }
    .score{
        font-size: 16px;
        border-radius: 5px;
        width: 58px;
        height: 25px;
   
    } 
    .cell{
        width: 15px;
        height: 15px;
        border-radius: 3px;
        margin-right: 1px;
        font-size: 12px;
    }
    .image{
        grid-row: 2 / 3;
        width: 210px;
        height: 231px;
    }
    .hangman{
        width: 100%;
        height: 100%;
    }
    .hint{
        width: 200px;
        height: 50px;
        font-size: 15px;
        border-radius: 16px;
    }
}

@media screen and (max-width: 500px){
    body{
        background: #f0810f;   
        border: none;
    }
    .container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 400px);
        grid-template-areas: 
            "leftSide"
            "rightSide";
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0; 
        justify-content: center;
    }
    .leftSide{
        grid-area: leftSide;
        background: #f0810f;   
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 5fr;
        align-items: center;
        justify-content: center;
        width: 100%;
        border-radius: 0;

    }
    .rightSide{
        grid-area: rightSide;
        background: #f0810f; 
        display: grid;
        grid-template-rows: 1fr 0.8fr 1.8fr 2fr;
        grid-template-columns: 1fr;
        width: 100%;
        border-radius: 0;
    }
    .image{
        grid-row: 2 / 3;
        width: 280px;
        height: 308px;
        justify-self: center;
    }
    .hangman{
        width: 100%;
        height: 100%;
    }
    .title{
        grid-row: 1 / 2;
        text-align: center;
        margin: 0;
        font-size: 80px;
        color: #6fccb5;
        text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.75);
        letter-spacing: -2px;
        background: #e6d72e;
    }
    .hint{
        grid-row: 1 / 2;
        background: #6fccb5;
        width: 100%;
        height: 100px;
        border-radius: 0;
        border: none;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        color: #063852;
        margin-top: 10px;
        
    }
    .main{
        grid-row: 2 / 3;
        display: flex;
        margin-top: 2px;
    }
    .cell{
        width: 22px;
        height: 22px;
        border-radius: 4px;
        margin-right: 2px;
        border-right: solid rgba(31, 31, 31, 0.7) 2px;
        border-bottom: solid rgba(31, 31, 31, 0.7) 2px;  
        background: white;
        color: black;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;      
        float: left;
    }
    .next{
        grid-column: 1 / 6;
        grid-row: 3 / 4;
        text-decoration: none;
        color: #f0810f;
        background: #011a27;
        border-radius: 5px;
        width: 51px;
        height: 17px;
        text-align: center;
        font-size: 16px;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }   
    .start{
        grid-column: 19 / 21;
        grid-row: 2 / 4;
        text-decoration: none;
        color: #f0810f;
        background: #011a27;
        border-radius: 5px;
        width: 17px;
        height: 52px;
        text-align: center;
        font-weight: bold;
        padding: 5px;  
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .keyboard{
        grid-row: 3 / 4;
        display: grid;
        grid-gap: 3px;
        grid-template-columns: repeat(20, 1fr);
        grid-template-rows: repeat(3, 1fr);
        align-content: center;   
        margin-top: 2px;
    }   
    .keyboard > div{
        border-radius: 5px;
        text-align: center;
        vertical-align: middle;
        padding: 5px;
        background: #011a27;
        font-weight: bold;
        width: 17px;
        height: 17px;
        color: #f0810f;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;

    }
    .score{
        grid-row: 4 / 5;
        color: 	#f0810f;
        font-size: 26px;
        background: #e6d72e;
        border-radius: 10px;
        width: 80px;
        height: 40px;
        text-align: center;
        font-weight: bold;
        border-right: solid rgba(31, 31, 31, 0.7) 3px;
        border-bottom: solid rgba(31, 31, 31, 0.7) 3px;
        border-top: solid rgba(31, 31, 31, 0.7) 2px;
        border-left: solid rgba(31, 31, 31, 0.7) 2px;
        box-sizing: border-box;
        margin-top: -50px;
        margin-bottom: 10px;
    }
    .space{
        color: #f0810f;
    }
    .btnClicked{
        border-right: none;
        border-bottom: none;
        border-top: solid #f0810f 1px;
        border-left: solid #f0810f 1px;
    }
    .btnBorder{
        border-right: solid rgb(61, 61, 61) 1px;
        border-bottom: solid rgb(61, 61, 61) 1px;    
    }
}